<%= f.fields_for "records_vitamin][#{vitamin.id}" do |ff| %>
  <%= ff.hidden_field :vitamin_id, value: vitamin.id %>
  <tr>
    <td class="first">
      <%= vitamin.to_s %>
    </td>
    <%= ff.collection_radio_buttons :score, RecordsMedicine.scores, :last, :last, boolean_style: :inline  do |rb| %>
      <td><%= rb.radio_button %></td>
    <% end %>
    <td><%= ff.check_box :side_effects %></td>
  </tr>
<% end %>
